body {
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

#app {
    background-color: #f0f2f5;
}

span.fas {
    padding: 10px;
}

.bg-nav {
    background-color: #3f51b5;
}

.nav-link span{
    font-size: 1.5rem;
}

.nav-link {
    padding: 0rem 0.5rem 0rem 0.5rem !important;
}

button span {
    padding: 0 !important;
}

.card-body .card-body {
    padding: 0 !important;
}

.card-header{
    background-color: white !important;
}