<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>epg</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/vue-datetime.css">
    <link rel="stylesheet" href="static/css/bootstrap.css">
</head>
<body>
    <div id="app">
        <nav class="navbar navbar-light bg-nav justify-content-center shadow p-3 mb-4">
            <div class="col col-lg-4 input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text fas fa-search">
                </div>
                <input 
                    type="text" 
                    :placeholder="searchInput.placeholder" 
                    v-model="searchInput.value" 
                    class="form-control mr-sm-2">
            </div>
        </nav>

        
        <div class="row">
            <div class="col col-lg-2">
                <div class="accordion shadow">
                    <div class="accordion-element" id="accordion-element-1">
                        <div @click="datePicker.visible = !datePicker.visible" class="element-header">
                            <a>Zeitraum</a>
                        </div>
                        <transition name="slide-fade">
                            <div key=1 v-if="datePicker.visible" class="element-content">
                                <datetime 
                                    type="datetime" 
                                    :placeholder="datePicker.start.placeholder" 
                                    v-model="datePicker.start.value">
                                    <label slot="before">Start:</label>
                                    <template slot="button-cancel">
                                        <fa :icon="['far', 'times']"></fa>
                                        Abbruch
                                    </template>
                                    <template slot="button-confirm">
                                        <fa :icon="['fas', 'check-circle']"></fa>
                                        OK
                                    </template>
                                </datetime>
                                <datetime 
                                    type="datetime"     
                                    :placeholder="datePicker.end.placeholder"
                                    v-model="datePicker.end.value">
                                    <label slot="before">Start:</label>
                                    <template slot="button-cancel">
                                        <fa :icon="['far', 'times']"></fa>
                                        Abbruch
                                    </template>
                                    <template slot="button-confirm">
                                        <fa :icon="['fas', 'check-circle']"></fa>
                                        OK
                                    </template>
                                </datetime>
                            </div>
                        </transition>
                        
                    </div>
                </div>
                
            </div>
            <div class="col col-lg-10">
                Content
            </div>
        </div>
        
        
        
    </div>
    <script src="static/js/vue.js"></script>
    <script src="static/js/luxon.js"></script>
    <script src="static/js/vue-datetime.js"></script>
    <script src="static/js/main.js"></script>
    <script src="https://kit.fontawesome.com/072a7506e7.js" crossorigin="anonymous"></script>
    <!-- <script src="static/js/bootstrap.js"></script> -->
</body>
</html>